body{
  font-family: sans-serif;
  background-color: #353535;
  color: #fff;
}
#menu-header{
  text-align: center;
  font-weight: bold;
}
h1{
  font-size: 30pt;
  text-align: center;
}
.button-header{
  font-size: 20pt;
  border: 3px solid black;
}
.button{
  width: 50%;
  padding-top: 15%;
  padding-bottom: 15%;
  text-align: center;
  float: left;
}
#div-innocent{background-color: #38b230;}
#div-traitor{background-color:#bf2f2f;}
#div-detective{background-color:#2f2fbf;}
#div-phoenix{background-color:#30b8d1;}
#div-jester{background-color:#d12fc0;}
#div-survivalist{background-color:#d1802e;}
#div-infected{background-color:#000;}
#div-extra{background-color:#555;}
a{
  color: inherit;
  text-decoration: inherit;
}

#creatormain{
  position: absolute;
}
.assign{
  width:100%;
  height:100%;
  text-align: center;
  font-family: verdana;
  color: #fff;
  position: absolute;
  display: none;
  opacity: 0;
  animation-name: hiderole;
  animation-duration: 0.5s;
}
.assign-anim{
  display: block;
  opacity: 1;
  width:100%;
  height:100%;
  text-align: center;
  font-family: verdana;
  color: #fff;
  position: absolute;
  animation-name: showrole;
  animation-duration: 0.5s;
}
.assign h2{
  font-style: italic;
}
.assign p{
  font-size:10pt;
}
#ass-first{
  background-color: #707070;
}
#ass-inno{
  background-color: #62d136;
}
#ass-traitor{
  background-color: #d13a3a;
}
#ass-detect{
  background-color: #3a53d1;
}
#ass-jester{
  background-color: #f984f4;
}
#ass-phoenix{
  background-color: #60d6c9;
}
#ass-survival{
  background-color: #e5a91d;
}
#ass-infected{
  background-color: #000000;
}

@keyframes showrole {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes hiderole {
  0% {opacity: 1; display: block;}
  100% {opacity: 0; display: block;}
}
